
GG.DonateAnywhere/obj/*
_ReSharper*
*..ReSharper.user
*.ReSharper.user
GG.DonateAnywhere.Core.Test.Unit/bin/*
GG.DonateAnywhere.Core.Test.Unit/obj/*
GG.DonateAnywhere.Core/bin/*
*.csproj.user
GG.DonateAnywhere.Core/obj/*
*.suo
GG.DonateAnywhere/bin/*